	/*Encabezados*/
h1{
	text-align: center;
}	
h2{
	text-align: center;
	margin-top: 5%;
}
h3{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
h4{
	text-align: left;
}
h5{
	text-align: center;
}
h6{
	text-align: center;
	font-size: 1em;
}
	/*parrafo*/
p{
	text-align: center;
}	
	/*Margen*/
.mt5{
	margin-top: 5%;
}	
.mt10{
	margin-top: 10%;
}
.mb5{
	margin-bottom: 5%;
}
.mb10{
	margin-bottom: 10%;
}
	/*Imagen*/
img{
	display: block;
	margin: auto;
}	
	/*boton*/
button{
	display: block;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 5%;
	height: 60px;
	width: 100%;
	color: white;
	background-color: #b0b0b0; 
	font-weight: bold;
}	
	/*alinear*/
.der{
	text-align: left;
}	
.izq{
	text-align: right;
}
	/*tamaño de letra*/
.font1{
	font-size: 1.5em;
}	
.font2{
	font-size: 2em;
}
.font3{
	font-size: 2.5em;
}
.font4{
	font-size: 3em;
}
.font5{
	font-size: 3.5em;
}
	/*interlineado*/
.line1{
	line-height: 1.5;
}	
.line2{
	line-height: 2;	
}
	/*efectos*/
.opacidad{
	background: rgba(0,0,0, 0.5);
	height: 100%;
}	